<!DOCTYPE html>
<html>
<head>
	<title>Iroleh's Blog</title>
</head>
<body>
	<div>
		<h1 align="center"><a href="#">Iroleh's Blog</a></h1>
	</div>

	<div>
		<p>Published: 14.07.2017, 12:00 P.M</p>
		<h2><a href="#">My first post</a></h2>
		<p> 
		<strong>Programming_And_Me:</strong> I always wanted to be the best I can, all my life, I always dream of becoming the best programmer in my country, I work hard single day with my <em> <a target="_blank" href="http://www.python.org"> Baby_Python (Programming Language)</a> </em> I learn about python every day.  
		</p>
		<p>
		Sometimes life keep getting more complicated and furstrated, but i never gave up on my dreams. Here I am today Pulishing my first webpage on python. Its a wounderful moment of my life. And I will keep working on my dreams...
		</p>
	
	</div>
		<p>Published: 14.07.2017, 12:05</p>
		<h2><a href="#">My second Post</a></h2>
		<p>
			<strong>Life will try to blow you up:</strong> But never give up on those dreams of yours. Life is full of tests, assessments, exams. Sometimes you fell like giving up, yeah I understand that feelings of yours. But have you ever wonder <em>why you started at first?</em> That is number reason why you should never quit now. It may seems more complicated even after reading this words, but beleive me it will worth it at last. <a href="#">NEVER GIVEUP</a>
		</p>
	<div>
		
	</div>

</body>
</html>